<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> El Maestro Cervecero</title>
  <link href="style/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding:16px">
    <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>  
  <form>
      <div class="form-group">
        <label for="nameCard">Nombre del titular de la tarjeta</label>
        <input type="text" class="form-control" id="nameCard">
      </div>
      <div class="form-group">
        <label for="cardNumber">Numero de la tarjeta</label>
        <input type="text" class="form-control" id="cardNumber">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="expDate">Expiration Date</label>
            <input type="text" class="form-control" id="expDate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="secNumber">Security Number</label>
            <input type="text" class="form-control" id="secNumber">
          </div>
        </div>
      </div>
  </form>
  <button type="button" class="btn btn-primary" id="paymentButton">Pagar</button>

  


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="style/js/bootstrap.min.js"></script>
    <script>
     var userID = "" ;
      window.extAsyncInit = function() {
      document.getElementById("paymentButton").addEventListener("click",function(){ 
            MessengerExtensions.requestCloseBrowser(function success() {
                    console.log("Cerrar browser");
                }, function error(err) {
                    console.log("Fallo cerrar browser");
                    console.log(err)
                });
        });

          MessengerExtensions.getUserID(function success(uids) {
          // User ID was successfully obtained. 
            var psid = uids.psid;
            userID = psid;
          }, function error(err, errorMessage) {      
              console.log("error al consegui usuario");
              console.log(err);
              console.log(errorMessage);
          }); 

        console.log("Done  Loading");
      };

         
    </script>
</body>
</html>

